

/*for login start page*/
.bkg{
    background-color: rgb(117, 164, 136);
}

.login_h{
    height: 100vh;
}
.lw{
    width: 350px;
}
.login::placeholder {
    color: white;
    opacity: 1;
    font-size: large;
}

.cont{
    flex-direction: column;
}
.login_btn{
    width: 350px;
    height: 40px;
    background-color: black;
}

/*for login end page*/

/*for Feed start page*/
.bkg1{
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, #1E1E1E 0%, #75A488 100%);
    height: 100vh;
}
.cont1 {
    flex-direction: column;
    margin-left: 220px;
}
.cont11 {
    flex-direction: column;
    margin-left: 100px;
}
.feed_icon{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 1rem;
}
.change::placeholder {
    color: white;
    font-size: large;
}
.srch{
    border-radius:10px;
}
.mag{
    color: white;
    z-index: 1;
    font-size: 1.2rem;
    font-weight: bolder;
}
.filter{
    margin-top: 30px;
    margin-left: 325px;
}
.feed_rec {
    width: 500px;
    height: 150px;
    margin: 10px;
    border-radius: 1rem;
    padding: 25px;
}
.rec_pic{
    border-radius: 15px;
    margin-right: 50px;
}
.profile{
    width: 130px;
    height: 30px;
    margin-right: 40px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

/*for feed end page*/


/*for Leaderboard start page*/

.bkg2{
    height: 100vh;
}
.leader_nav{
    z-index: 10;
}





/*for Leaderboard end page*/
.car{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}
