/*for login start page*/
.bkg{
    background-color: #75a488;
}

.login_h{
    height: 100vh;
}
.lw{
    width: 350px;
}
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    font-size: large;
    /* Firefox */
}
.cont{
    flex-direction: column;
}
.login_btn{
    width: 350px;
    height: 40px;
    background-color: black;
}

/*for login end page*/