/* body {
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
} */

.container {
    padding: 100px 50px 50px 50px;
}

.main-body {
    padding: 17px;
    /* background: rgb(117, 164, 136); */
    background: linear-gradient(90deg, rgba(117, 164, 136, 0.7) 0%, rgba(204, 218, 70, 0.7) 50%, rgba(244, 238, 199, 0.7) 100%);
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.btn {
    margin: 0;
    width: auto;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100%!important;
}

.shadow-none {
    box-shadow: none!important;
}


/* calender starts */

#calendar {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    font-family: 'Lato', sans-serif;
}

#c alendar_ weekdays div {
    display: inli ne-block;
    vertical-align: top;
}

#c alendar_content,
#c alendar_weekdays,
#c alendar_header {
    position: relative;
    width: 320px;
    overflow: hidden;
    float: left;
    z-index: 10;
}

#c alendar_weekdays div,
#c alendar_content div {
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    background-color: #FFFFFF;
    color: #787878;
}

#calendar_content {
    -webkit-border-radius: 0px 0px 12px 12px;
    -moz-border-radius: 0px 0px 12px 12px;
    border-radius: 0px 0px 12px 12px;
}

#calendar_content div {
    float: left;
}

#calendar_content div:hover {
    background-color: #F8F8F8;
}

#calendar_content div.blank {
    background-color: #E8E8E8;
}

#calendar_header,
#calendar_content div.today {
    zoom: 1;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

#calendar_content d iv.today {
    color: #FFFFFF;
}

#calenda r_header {
    width: 100%;
    height: 37px;
    text-align: center;
    background-color: #FF6860;
    padding: 18px 0;
    -webkit-border-radius: 12px 12px 0px 0px;
    -moz-border-radius: 12px 12px 0px 0px;
    border-radius: 12px 12px 0px 0px;
}

#calendar_header h1 {
    font-size: 1.5em;
    color: #FFFFFF;
    float: left;
    width: 70%;
}

i[class^=icon-chevron] {
    color: #FFFFFF;
    float: left;
    width: 15%;
    border-radius: 50%;
}


/* calender ends */