{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
    <script src="https://kit.fontawesome.com/74bfeb452a.js" crossorigin="anonymous"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>


    <title>Hunger Management</title>
</head>

<body>
    <div>
        <form method="POST" action="login">
            {% csrf_token %}
            <div class="login_h d-flex">
                <div class="w-50 h-100 cont d-flex align-items-center justify-content-center" style="background-color: #75a488;">
                    <h1 class="text-center text-white">Welcome</h1>
                    <div class="w-50 mt-5 pt-5">
                        <input type="email" name="username" id="email" style="color:white; background-color: #75a488" class="border-0 lw" placeholder="Email">
                        <hr class="lw" style="height:3px;border-width:0;color:black;background-color:black">
                    </div>
                    <div class="w-50 mt-5 mb-2">
                        <input type="password" name="password" id="pword" style="color:white; background-color: #75a488" class="border-0 lw " placeholder="Password">
                        <hr class="lw" style="height:3px;border-width:0;color:black;background-color:black">
                    </div>

                    <div class="cont w-50 mb-3 d-flex">
                        <h6 class="d-flex justify-content-center px-4 py-1 mt-5 text-white">Forgot Password?</h6>
                        <button type="submit" class="mx-0 text-white btn btn-dark py-2">Login</button>
                        <h6 class="d-flex justify-content-center px-4 py-3 text-white">Already have an account ?
                            <span style="color: black;">&nbsp; <a href="{% url 'signuppage' %}" class="text-decoration-none black"> Sign Up </a> </span></h6>
                    </div>
                </div>
        </form>

        <div class=" w-50 h-100 img_div" style="background-color:aqua; ">
            <img src="https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg " class="h-100 align-items-end " alt="img1 " id="img1">
        </div>
</body>

</html>